:root
    --general-text-color #4a4a4a
    --body-background-color #e5e5e5
    --filter-hover-color #f1fcff
    --white-color #fff
    --default-checkbox-border-color #9abbce
    --ticket-price-color #2196f3
    --sorting-active-color #2196f3
    --checked-checkbox-border-color #2196f3
