@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap')

body
    margin 0
    padding 0
    background-color var(--body-background-color)
    font-family 'Open Sans', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif, 'sans-serif'

*
    box-sizing border-box
